#### Imports

In [1]:
import pandas as pd

### Job Filter

In [18]:
def job_filter(file):
    
    # Create DataFrame
    df = pd.read_csv (file + '.csv')
    
    # Filter for key words
    # ['sr', 'senior', 'intern', 'vp', 'president', 'director', 'staff', 
    # 'head', 'manager', 'manage', 'phd', 'ui', 'lead', 'front', 'full']
    
    # df['Location'].str.contains('CA') |
    
    df01 = df[df['Location'].str.contains('CA') | df['Location'].str.contains('NY')]
    
    df02 = df01[(df01['Job Title'].str.contains('sr', case=False) == False) & (
        df01['Job Title'].str.contains('senior', case=False) == False) & (
        df01['Job Title'].str.contains('intern', case=False) == False) & (
        df01['Job Title'].str.contains('vp', case=False) == False) & (
        df01['Job Title'].str.contains('president', case=False) == False) & (
        df01['Job Title'].str.contains('director', case=False) == False) & (
        df01['Job Title'].str.contains('staff', case=False) == False) & (
        df01['Job Title'].str.contains('head', case=False) == False) & (
        df01['Job Title'].str.contains('manager', case=False) == False) & (
        df01['Job Title'].str.contains('manage', case=False) == False) & (
        df01['Job Title'].str.contains('phd', case=False) == False) & (
        df01['Job Title'].str.contains('ui', case=False) == False) & (
        df01['Job Title'].str.contains('lead', case=False) == False) & (
        df01['Job Title'].str.contains('front', case=False) == False) & (
        df01['Job Title'].str.contains('full', case=False) == False)]
    
    # Increase index values by 2 and drop Date/VC columns 
    
    filtered = df02.reset_index()
    filtered['index'] = filtered['index'] + 2
    filtered = filtered.drop(labels=['Date', 'VC'], axis=1)
     
    return filtered

job_filter('/Users/branndonmarion/Desktop/JB-DFs/Data/Data (2.17)')

,index,Job Title,Company,Location
0,10,Data Science Instructor,C3,"Redwood City, CA, US"
1,34,Data analyst,Bloom Energy,"Fremont, CA, US"
2,36,"Software Engineer, Data Science",Forward,"San Francisco, CA, US"
3,37,"Software Engineer, Data Infrastructure",Forward,"San Francisco, CA, US"
4,40,"Software Engineer, Data Infrastructure",Forward,"San Francisco, CA, US"
5,43,Software Engineer (Ray Data),Anyscale,"San Francisco, CA, US"
6,48,Computer Vision and Data Engineer,AICRETE,"San Francisco, CA, US"
7,80,Software Engineer - Data Infrastructure,Datadog,"New York City, NY, US"
8,86,Data Scientist,Wiliot,"San Diego, CA, US"
9,92,Principal Software Engineer - Data Platform,Exabeam,"Foster City, CA, US"
10,126,Data Analyst,FLYR,"Los Angeles, CA, US"
11,138,"Product Innovation Consultant, Data",PathSpot,"New York City, NY, US"
12,144,Satellite Data Handling Engineer,Swissto12,"Foster City, CA, US"
13,168,Data Scientist,ZipRecruiter,"Los Angeles, CA, US"
14,186,Data Scientist - San Jose,Vectra,"San Jose, CA, US"
15,214,Data Scientist,Sunshine,"Palo Alto, CA, US"
16,215,Data Scientist,TAE Technologies,"Foothill, CA, US"
17,216,Data Engineer,TAE Technologies,"Foothill, CA, US"
18,253,Data Engineer,SeatGeek,"New York City, NY, US"
19,339,Data Scientist (B2B/Enterprise),Talkspace,"New York City, NY, US"
20,341,Data Analyst,Wiliot,"San Diego, CA, US"
21,387,Data Scientist (B2B/Enterprise),Talkspace,"New York City, NY, US"
22,389,Data Analyst,Wiliot,"San Diego, CA, US"
23,397,Software Engineer - Data Platform,Eightfold,"Santa Clara, CA, US"
24,401,"Data Scientist, Product Analytics - Core Services",Uber,"San Francisco, CA, US"
25,404,Data Engineer,DoorDash,"San Francisco, CA, US"
26,423,Data Scientist,FLYR,"San Francisco, CA, US"
27,431,Data Scientist,Nextdoor,"San Francisco, CA, US"
28,448,"Backend Engineer, Data Infrastructure",Pilot AI,"Palo Alto, CA, US"
29,466,Data Engineer,MyHealthTeam,"San Francisco, CA, US"
30,472,Data Annotation Specialist - Computer Vision,Matroid,"Palo Alto, CA, US"
31,480,Business Intelligence Analyst,Span,"San Francisco, CA, US"
32,483,Business Intelligence Engineer,Illumio,"Sunnyvale, CA, US"
33,503,Salesforce Business Analyst,Bloom Energy,"San Jose, CA, US"
34,512,Business Analyst,Face Reality Skincare,"Danville, CA, US"
35,521,Business Analyst-IT Operations,UiPath,"New York City, NY, US"
36,523,Business Analyst-Customer Experience,UiPath,"New York City, NY, US"
37,525,Business Analyst-Finance,UiPath,"New York City, NY, US"
38,532,Business Intelligence Analyst,Span,"San Francisco, CA, US"
39,550,"Business Analyst, Infrastructure & Operations",Vuori,"Carlsbad, CA, US"
40,561,Salesforce Business Application Analyst US,Fireblocks,"New York City, NY, US"
41,563,IT Business Applications Analyst (Contractor),Netskope,"Santa Clara, CA, US"

#### Job Type DF Excel Export

In [ ]:
def data_instantiation(date): 

    # Save job filtered DFs as excel files
    
    data = job_filter('/Users/branndonmarion/Desktop/JB-DFs/Data/Data ' + '('+ date + ')').to_excel('Data (' + date + ').xlsx')
    swe = job_filter('/Users/branndonmarion/Desktop/JB-DFs/SWE/SWE ' + '('+ date + ')').to_excel('SWE (' + date + ').xlsx')
    finance = job_filter('/Users/branndonmarion/Desktop/JB-DFs/Finance/Finance ' + '('+ date + ')').to_excel('Finance (' + date + ').xlsx')
    pso = job_filter('/Users/branndonmarion/Desktop/JB-DFs/PSO/PSO ' + '('+ date + ')').to_excel('PSO (' + date + ').xlsx') 
    it = job_filter('/Users/branndonmarion/Desktop/JB-DFs/IT/IT ' + '('+ date + ')').to_excel('IT (' + date + ').xlsx')
    
    return None

data_instantiation(2.24)